<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main Admin Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/navbar-style.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/managing-buttons.css}"/>


    <style th:inline="text">

        body{
            background-image: url([[@{/img/background-dim.jpg}]]);
            background-repeat: no-repeat;
            color: white;
            background-color: black;


        }

        h1{
            text-align: center;
            font-family: "Arial Black";
            font-size: 40px;
        }



    </style>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-custom static-top">
    <div class="container">
        <a class="navbar-brand" href="/"><img th:src="@{/img/boat-logo-w.png}" width="70" height="70" class="d-inline-block align-middle" alt="">Z wiatrem</a>

        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <form class="form-inline" method="post" th:action="@{/index}">

                    <li th:if="${#httpServletRequest.remoteUser != null}">
                        <a class="nav-link" th:inline="text"  style="color: white; ">Jesteś zalogowany jako <b
                                style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/index}" class="btn btn-sm btn-outline-secondary" type="button" role="button"> Strona główna </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#">Panel zarządzania
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item" th:if="${#httpServletRequest.remoteUser == null}">
                        <a th:href="@{/main}" class="btn btn-outline-success" type="button" role="button"> Zaloguj </a>
                    </li>

                    <li th:if="${#httpServletRequest.remoteUser != null}"><button class="btn btn-outline-success logout" type="submit" onclick="successfullyLogout()" value="Sign Out">Wyloguj się</button></li>



                </form>

            </ul>
        </div>
    </div>
</nav>





<section style="padding-top: 250px;">

    <div>
        <h1>
            CENTRUM ZARZĄDZANIA WŁAŚCICIELA
        </h1>

        <div class="containerManagingButtons">



            <a href="/owner/post/post_management"> <button class="btn-lg manButton1"> Zarządzaj bazą danych Poczt </button> </a>

            <a href="/owner/adres/adres_management"> <button class="btn-lg manButton2"> Zarządzaj bazą danych Adresów </button> </a>

            <a href="/owner/position/position_management"> <button class="btn-lg manButton3"> Zarządzaj bazą danych Stanowisk </button> </a>

            <a href="/owner/employee/employee_management"> <button class="btn-lg manButton4"> Zarządzaj bazą danych Pracowników </button> </a>

            <a href="/owner/client/client_management"> <button class="btn-lg manButton5"> Zarządzaj bazą danych Klientów </button> </a>





        </div>






    </div>



</section>





<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>